[submodule "launcher"]
	path = launcher
	url = https://github.com/Liiesl/NeverLiieLauncher.git
[submodule "terminal"]
	path = terminal
	url = https://github.com/Liiesl/NeverLiieTerm.git
[submodule "statusbar"]
	path = statusbar
	url = https://github.com/Liiesl/NeverLiieStatusBar.git
